<div class="container mt-4">
    <h1>Contacts Management Application</h1>
    <button class="btn btn-success mb-3" (click)="onNewContact()">New</button>
    @if(submitSuccess)
 {
    <div  class="alert alert-success">
        Contact {{ this.isEditContract ? 'updated' : 'created' }} successfully!
      </div>
    
 }
 @if(isDelete)
 {
    <div  class="alert alert-success">
        Contact deleted successfully!
      </div>
 }
 @if(submitError)
 {
    <div  class="alert alert-danger ">
        There was an error saving the contact.
      </div>
    
 }
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (contact of contacts; track contact) {
                <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.email }}</td>
                <td><button class="btn btn-primary" (click)="onContactEdit(contact)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="onContactDelete(contact.id)">Delete</button></td>
            </tr>
            }
        
        </tbody>
    </table>
</div>
    <div
  class="modal fade"
  id="editSaveContactModal"
  tabindex="-1"
  aria-labelledby="editContactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editContactModalLabel">{{ editingContact.id ? 'Edit' : 'Create' }} Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="onContactSave()" [formGroup]="contactForm">
        <div class="modal-body" >
          <div class="mb-3 form-group" >
            <label for="firstname" class="form-label">First Name</label>
            <input
              id="firstname"
              type="text"
              [(ngModel)]="editingContact.firstname"
              name="firstname"
              class="form-control"
              required
              placeholder="Enter First Name"
              formControlName="firstname"
            />
            @if(contactForm.get('firstname')?.invalid && contactForm.get('firstname')?.touched)
            {
                <div class="error-message alert-danger" >
                    Firstname is required.
                  </div>
            }
          </div>
          <div class="mb-3 form-group" >
            <label for="lastname" class="form-label">Last Name</label>
            <input
              id="lastname"
              type="text"
              [(ngModel)]="editingContact.lastname"
              name="lastname"
              class="form-control"
              required
              placeholder="Enter Last Name"
              formControlName="lastname"
            />
            @if(contactForm.get('lastname')?.invalid && contactForm.get('lastname')?.touched)
            {
                <div class="error-message alert-danger">
                    Lastname is required.
                  </div>
            }
          </div>
          <div class="mb-3 form-group" >
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              type="email"
              [(ngModel)]="editingContact.email"
              name="email"
              class="form-control"
              required
              email
              placeholder="Enter Email"
              formControlName="email"
            />
            @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched)
            {
                <div class="error-message alert-danger">
                    Enter a valid Email.
                  </div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">{{ editingContact.id ? 'Update Contact' : 'Create Contact' }}</button>
        </div>
      </form>
    </div>
  </div>
</div> 
<!-- Success or Error Message -->
 